@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 342 54% 98%;
    /* tinto-50 */
    --foreground: 340 28% 9%;
    /* tinto-950 */

    --card: 342 54% 98%;
    /* tinto-50 */
    --card-foreground: 340 28% 9%;
    /* tinto-950 */

    --popover: 342 54% 98%;
    /* tinto-50 */
    --popover-foreground: 340 28% 9%;
    /* tinto-950 */

    --primary: 342 54% 30%;
    /* tinto-500 */
    --primary-foreground: 342 54% 98%;
    /* tinto-50 */

    --secondary: 340 20% 45%;
    /* tinto-400 */
    --secondary-foreground: 342 54% 98%;
    /* tinto-50 */

    --muted: 342 26% 92%;
    /* tinto-100 */
    --muted-foreground: 341 24% 22%;
    /* tinto-800 */

    --accent: 335 34% 73%;
    /* tinto-300 */
    --accent-foreground: 340 28% 9%;
    /* tinto-950 */

    --destructive: 0 84.2% 60.2%;
    /* Mantenemos el rojo destructivo por defecto */
    --destructive-foreground: 342 54% 98%;
    /* tinto-50 */

    --border: 341 24% 22%;
    /* tinto-800 */
    --input: 341 24% 22%;
    /* tinto-800 */
    --ring: 342 54% 30%;
    /* tinto-500 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 340 28% 9%;
    /* tinto-950 */
    --foreground: 342 54% 98%;
    /* tinto-50 */

    --card: 340 28% 9%;
    /* tinto-950 */
    --card-foreground: 342 54% 98%;
    /* tinto-50 */

    --popover: 340 28% 9%;
    /* tinto-950 */
    --popover-foreground: 342 54% 98%;
    /* tinto-50 */

    --primary: 342 54% 30%;
    /* tinto-500 */
    --primary-foreground: 342 54% 98%;
    /* tinto-50 */

    --secondary: 341 24% 22%;
    /* tinto-800 */
    --secondary-foreground: 342 54% 98%;
    /* tinto-50 */

    --muted: 341 26% 16%;
    /* tinto-900 */
    --muted-foreground: 342 26% 92%;
    /* tinto-100 */

    --accent: 342 32% 24%;
    /* tinto-700 */
    --accent-foreground: 342 54% 98%;
    /* tinto-50 */

    --destructive: 0 62.8% 30.6%;
    /* Versión oscura del rojo destructivo */
    --destructive-foreground: 342 54% 98%;
    /* tinto-50 */

    --border: 342 32% 24%;
    /* tinto-700 */
    --input: 342 32% 24%;
    /* tinto-700 */
    --ring: 342 54% 30%;
    /* tinto-500 */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    margin: 0;
    padding: 0;
  }
}